.header{
    margin-top: 10vh;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans';
    color: blue;
}
.headerTitleSm{
    position: absolute;
    top: 20%;
    font-size: 4vh;
}
.headerTitleLg{
    position: absolute;
    top: 25%;
    font-size: 7vh;
}
.headerImg{
    width: 100%;
    height: 70vh;
    margin-top: 5vh;
    object-fit: cover;
}